{% extends "base.html" %}

{%
 set username = session.get('username')
%}

{% block content %}
<div class="d-flex justify-content-between" style="gap: 2rem;">
        <div class="flex-grow-1 me-3">
            <h1 class="text-center my-3">Welcome, {{ username }}!</h1>
            <form action="{{ url_for('.join_room') }}" method="POST" class="mb-3">
                <div class="input-group mb-3">
                    <input type="text" name="room_name" class="form-control" placeholder="Enter Room Name" aria-label="Room Name" required>
                    <button class="btn btn-secondary" type="submit">Join Room</button>
                </div>
            </form>
            <a href="{{ url_for('.logout') }}" class="btn btn-danger">Logout</a>
        </div>
    </div>
{% endblock %}

